:root {
  --primary-color: rgb(252, 214, 244);
  --primary-soft: rgb(255, 246, 253);
  --primary-strong:rgb(226, 153, 210);
  --primary-stronger:rgba(131, 93, 123); 
  --secondary-color: gray;
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-size: 4rem;
  text-align: right;
  padding: 0 2rem;
  font-family: 'Comfortaa', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: medium;
  font-weight: bolder;
}

.notes {
  display: flex;
  flex-flow: column-reverse wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.note {
  border: 1px solid var(--secondary-color);
  margin: 1em;
  border-radius: 10px;
  background-color: var(--primary-soft);
}


.note.selected {
  position: fixed;
  top: 0;
  left: 5em;
  right: 5em;
  bottom: 0;
  z-index: 1;
  overflow: scroll;
  overscroll-behavior: none;
}

.note-title,
.note-body {
  resize: none;
  width: 100%;
  padding: .6em;
  overflow: hidden;
  cursor: auto;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.note-title {
  font-size: 2rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.note-body {
  font-size: 1.1rem;
}

.note-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  font-size: .8rem;
}

.note-footer > p {
  width: 20%;
  margin: 0 0.2em;
}

#black-back {
  display: none;
  background-color: rgba(34, 31, 31, .4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* buttons */

button {
  border-radius: 8px;
  border: solid var(--secondary-color) 2px;
  cursor: pointer;
  background-color: transparent;
}

.buttons {
  margin: 0 .8em;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.246);
}

button.large {
  font-size: 5rem;
}

button.medium {
  font-size: 2rem;
  color: var(--secondary-color);
}

#new-note-btn {
  display: block;
  width: 98%;
  margin: auto;
  background-color: var(--primary-strong);
}

#new-note-btn:hover {
  background-color: var(--primary-stronger);
}